@{
    bool scenario = (bool)ViewBag.currentScenario;
}
@*Scenario checking reaction*@
@if (scenario)
{
    <div id="infomodal" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Text analyzer</h5>
                </div>
                <div class="modal-body">
                    <p>There is no active scenario. First refer to Scenarios and start one scenario from the list</p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Scenario List", "Index", "scenario")
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#infomodal').modal(null)
    </script>
}

@if ((bool)ViewBag.notready)
{
    <div id="infomodal2" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Text analyzer</h5>
                </div>
                <div class="modal-body">
                    <p>The current scenario is not ready for analysis. Please check the current status of it in scenario list and follow the right steps.</p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Data Perparation", "Index", "import")
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#infomodal2').modal(null)
    </script>
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card">
    <div class="card-header card-primary">

    </div>
    <div class="card-body">
        <p>
            In this module the application provide to different methodology for goin deep into datasets and fetch the patterns
            <ol>
                <li>Conventional Method</li>
                <li>AI based Method</li>
            </ol>
        </p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header bg-gradient-orange">
                        <b>AI Based Method</b>
                        <i class="fa fa-robot float-right"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            This method mainly works with Machine Learning library. The text minning run on ML.NET class library. A open source &Aacute; powerfull framework which offers diverse functionalities in various AI fields.
                        </p>
                    </div>
                    <div class="card-footer card-link text-center font-weight-bold">
                        <a href="~/analyze/ai">AI Based</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-header bg-gradient-green">
                        <b>Conventional Method</b>
                        <i class="fab fa-industry float-right"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            This methodology heavely relies on database engine performance. The method uses common text search and string function in order to filter dataset and retrieve results
                        </p>
                    </div>
                    <div class="card-footer card-link text-center font-weight-bold">
                        <a href="~/analyze/conventional">Conventional</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>