
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>
    In order to load data set in to mining scenario the follwoing steps must be taken carefully
    <ol>
        
        <li>
          Connect to the remote repository using either pre-defined or entered address and donwload data files
            <a href="~/dataset/LoadRemoteFileList">Step 1</a>
        </li>
        <li>
            Analyze donwloaded file and normalized them
            <a href="~/dataset/LoadRemoteFileList">Step 1</a>
        </li>
        <li>Put data into local data warehouse </li>
    </ol>
</p>