@model discovery.Models.patterns

<div class="card card-primary">
    <div class="card-header">

        <a href="~/patterns"> <span class="fa fa-fast-backward fa-backward float-right"></span></a>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="~/patterns/Edit" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="text" class="control-label"> Title: </label>
                <div class="col">
                    @Html.TextBoxFor(model => model.title, "", new { @class = "formm-control" })
                    <span asp-validation-for="text" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label">Category: </label>
                <div class="col">
                    @Html.DropDownList("category", null, "Select one item from the list", new { @class = "formm-control" })
                    <span asp-validation-for="category" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>


